@page  "/"

<link href="css/LandingPage.css" rel="stylesheet" />

<div class="page">
    <div class="Hero">
        <div class="LogoContainer">
            <img class="Logo" src="/Assets/LandingPage/Logo.svg" />
        </div>
        <div class="FlexContainer SignUpLogIn">
            <div class="flexChild SignIn"><a id="accountSignIn" href="/Account-Login">Log In</a></div>
            <div class="flexChild SignUp"><a id="accountSignUp" href="/Account-Creation">Sign Up</a></div>
        </div>
        <div class="HeroSearchContainer">
            <form class="SearchForm" action="/">
                <button class="Pin" type="button"><img class="PinSvg" src="/Assets/LandingPage/Pin.svg"/></button> 
                <input class="SearchBar" type="text" placeholder="Get started by adding your drop off location!" name="search">
            </form>
        </div>
    </div>
    <div class="InfoSection1">
        <div class="TextHolderSection1">
            <div class="Section1TitleHolder">
                <h3>Find local restaurants at the press of a button.</h3>
            </div>
            <div class="Section1Paragraph1Holder">
                <p>
                    EasyMeal makes it easy for anyone to get food when they want it.
                </p>
            </div>
            <div class="Section1Paragraph2Holder">
                <p>
                    Search through hundreds of options by putting your desired drop-off location in the search bar above or by clicking the location icon to share your current location.
                </p>
            </div>
        </div>
        <img class="MapPicture" src="/Assets/LandingPage/Map-Pic.png" alt="Map" />
    </div>
    <div class="InfoSection2">
        <div class="TextHolderSection2">
            <div class="Section2TitleHolder">
                <h3>EasyMeal does the hardwork so you don’t have to.</h3>
            </div>
            <div class="Section2Paragraph1Holder">
                <p>
                    Our mission is to fast-track the dining experience for the everyday person.
                </p>
            </div>
            <div class="Section2Paragraph2Holder">
                <p>
                    Whether you’re a busy stay at home mom, hardworking professional or hyper-focused freelancer, you will be enjoying delicious local cuisine within minutes*. Get the food you want delivered to where ever you need it.
                </p>
            </div>
        </div>
            <img class="GuyPicture" src="/Assets/LandingPage/Guy-pic.png" alt="Guy taking picture of food" />
        </div>
        <div class="Footer">
            <div class="FlexContainerFoot SignUpLogIn">
                <div class="flexChildFoot About"><a id="footerAbout" href="/">About</a></div>
                <div class="flexChildFoot Contact"><a id="footerContact" href="/">Contact</a></div>
            </div>
        </div>
    </div>

@code {
}
