@page  "/Landing-Page"

    <link href="css/LandingPage.css" rel="stylesheet" />

    <div class="page">
        <div class="Hero"></div>
        <div class="InfoSection1">
            <div class="TextHolderSection1">
                <div class="Section1TitleHolder">
                    <h3>Find local restaurants at the press of a button.</h3>
                </div>
                <div class="Section1Paragraph1Holder">
                    <p>
                        EasyMeal makes it easy for anyone to get food when they want it.
                    </p>
                </div>
                <div class="Section1Paragraph2Holder">
                    <p>
                        Search through hundreds of options by putting your desired drop-off location in the search bar above or by clicking the location icon to share your current location.
                    </p>
                </div>
            </div>
            <img class="MapPicture" src="/Assets/LandingPage/Map-Pic.png" alt="Map" />
        </div>
        <div class="InfoSection2">
            <div class="Section2TitleHolder">
                <h3>EasyMeal does the hardwork so you don’t have to.</h3>
            </div>
            <div class="Section2Paragraph1Holder">
                <p>
                    Our mission is to fast-track the dining experience for the everyday person.
                </p>
            </div>
            <div class="Section2Paragraph2Holder">
                <p>
                    Get food delivered to where ever you need it. Whether you’re a busy stay at home mom, hardworking business professional or hyper-focused freelancer, you will be enjoying delicious local cuisine within minutes*.
                </p>
            </div>
            <img class="GuyPicture" src="/Assets/LandingPage/Guy-pic.png" alt="Guy taking picture of food" />
        </div>
        <div class="Footer">
            <ul class="FooterList">
                <li>About Us</li>
                <li>Contact</li>
            </ul>
        </div>
    </div>

    @code {

    }
