@page "/oldIndex"


<h3>Index</h3>

<h2><a href="Account-Creation">CLICK ME FOR ACCOUNT CREATION</a></h2>
<h2><a href="Account-login">CLICK ME FOR ACCOUNT LOGIN</a></h2>
<h2><a href="Landing-Page">CLICK ME FOR LANDING PAGE</a></h2>

@code {

}
