@page "/Restaurant-List"

<link href="css/RestaurantList.css" rel="stylesheet" />

<div class="page">
	<div class="RestuarantList">
		<div class="Header">
            <div class="Search">
                <form class="SearchForm" action="/">
                    <button class="Pin" type="button"><img class="SearchPinSvg" src="/Assets/RestaurantList/SearchPin.svg"/></button>
                    <input class="SearchBar" type="text" placeholder="Search" name="search">
                </form>
            </div>
            <div class="LogoContainer">
                <a href=""><img class="logo" src="/Assets/RestaurantList/RestaurantLogo.svg" alt="EasyMeal"/></a>
            </div>
            <div class="FlexContainer SignUpLogIn">
                <div class="flexChild SignIn"><a id="accountSignIn" href="/Account-Login">Log In</a></div>
                <div class="flexChild SignUp"><a id="accountSignUp" href="/Account-Creation">Sign Up</a></div>
            </div>
        </div>
        <div class="Section1">
            <h1>Hello</h1>
        </div>
	</div>
</div>

@code {

}
