@page "/Restaurant-Home-page"
@inject User Usr
@inject IConfiguration _config
@inject NavigationManager NavigationManager

<link href="css/RestaurantHomePage.css" rel="stylesheet" />

<div class="page">
    <div class="RestuarantList">
        <div class="Header">
            <div class="Search">
                <form class="SearchForm" action="/">
                    <button class="Glass" type="button">
                        <img class="SearchGlassSvg" src="/Assets/RestaurantList/SearchGlass.svg" />
                    </button>
                    <input class="SearchBar" type="text" placeholder="Search" name="search">
                </form>
            </div>
            <div class="LogoContainer">
                <a href=""><img class="logo" src="/Assets/RestaurantHomePage/EasyMealLogo.svg" alt="EasyMeal" /></a>
            </div>
            <div class="Cart">
                <a href=""><img class="Cart" src="/Assets/RestaurantHomePage/cart.png" alt="Cart" /></a>
            </div>
            @if (Usr.userID == 0)
            {
                <div class="FlexContainer SignUpLogIn">
                    <div class="flexChild SignIn"><a id="accountSignIn" href="/Account-Login">Log In</a></div>
                    <div class="flexChild SignUp"><a id="accountSignUp" href="/Account-Creation">Sign Up</a></div>
                </div>
            }
        </div>

        <h1 class="RestHeader">Restaurant</h1>
        <h2 class="MenuItems">MenuItems</h2>
        @if (Usr.userID == 333)
        {
            <table class="Container">
                <tr>
                    <th>Item</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Add to Cart</th>
                </tr>
                <tr>
                    <td>Burger</td>
                    <td>Burger with pickles</td>
                    <td>$9.89</td>
                    <td><button><img class="Plus" src="/Assets/RestaurantHomePage/plus.jpg" alt="" /></button></td>
                </tr>
                <tr>
                    <td>Grilled Cheese</td>
                    <td>Cheese with bread</td>
                    <td>$7.99</td>
                    <td><button><img class="Plus" src="/Assets/RestaurantHomePage/plus.jpg" alt="" /></button></td>
                </tr>
                <tr>
                    <td>Chicken Sandwich</td>
                    <td>Chicken with bread</td>
                    <td>$8.79</td>
                    <td><button><img class="Plus" src="/Assets/RestaurantHomePage/plus.jpg" alt="" /></button></td>
                </tr>

            </table>
        }
    <div class="OwnerView">
        <div class="NumItemContainer">
            
            <input class="NumItem" type="number" @bind-value="numOfItems" required />
        </div>
        @for (int i = 0; i < numOfItems; i++)
        {
            <div class="ItemContainer">
                <label>Category</label>
                <input class="itemInput" type="text" required />
            </div>
            <div class="ItemContainer">
                <label>Item Name</label>
                <input class="itemInput" type="text" required />
            </div>
            <div class="ItemContainer">
                <label>Item Description</label>
                <input class="itemInput" type="text" required />
            </div>
            <div class="ItemContainer">
                <label>Price</label>
                <input class="itemInput" type="text" required />
            </div>
            <div class="ItemContainer">
                <label>Prep-Time</label>
                <input class="itemInput" type="text" required />
            </div>
        }
    </div>


    </div>
</div>

@code {
    private int numOfItems = 0;
}
