body {
}

.MainContainer {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/Assets/AccountLogin/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/* Styling for master container so background doesnt stretch with body size*/

.LogoContainer {
    padding-top: 50px;
    padding-left: 50px;
}

.AccountFieldsContainer {
    position: absolute;
    /*Uncomment to see container*/
    /*background-color: red;*/
    width: 600px;
    height: 600px;
    margin-top: 90px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
}
/* Container for form and h1 tags*/

#logIn {
    color: white;
    text-align: center;
    font-size: 55px;
    padding-top: 30px;
}
/* H1 tag */

label {
    position: absolute;
    color: #FFD600;
    font-size: 10px;
    padding-left: 15px;
    margin-top: 25px;
}
/* First Name, Last Name, etc...*/

input:focus {
    color: white;
}
/* Making input text white */

.AccountFieldsForm {
    position: relative;
    /*Uncomment to see container*/
    /*background-color: pink;*/
    width: 90%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    left: 3%;
    right: 0px;
    bottom: 40px;
}
/* form tag */

.EmailPhonePassContainer {
    position: absolute;
    /*Uncomment to see container*/
    /*background-color: turquoise;*/
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    padding-top: 30px;
}
/* Container holding email, phone, and password input boxs*/

.EmailInput,.PassWordInput {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    width: 90%;
    height: 60px;
    margin-bottom: 2%;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 1);
    text-indent: 12px;
}
/* email, phone, pass input boxes*/

.FormSubmitButtonContainer {
    position: absolute;
    /*Uncomment to see container*/
    /*background-color: orange;*/
    width: 62%;
    height: 60px;
    top: 100%;
    margin-left:auto;
    margin-right:auto;
    left: 0px;
    right: 40px;

    padding-top: 10px;
}
/* Submit button container*/

.FormSubmitButton {
    background-color: #FFD600;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 1);
}
    /* Submit button */

    .FormSubmitButton:hover {
        transform: scale(1.03);
    }

    .FormSubmitButton:focus {
        background-color: black;
        color: white;
        border-color: rgba(255, 214, 0, 1);
    }

#NeedAccountText {
    position: absolute;
    color: white;
    margin-top: 62%;
    left: 20%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /*display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}
